.dnd-drop-container {
  width: 200px;
  text-align: center;
  min-height: 400px;
}

.dnd-title {
  margin: 10px;
  font-family: "Arbutus Slab", serif;
  font-size: 28px;
  color: #607d8b;
}

.drag-over{
    background-color: rgba(0,191,165,.04);
}

.dnd-drop-box {
  margin: 0 10px;
  background-color: #eeeeee;
  padding: 10px;
}

.rejected {
  border-top: 5px solid red;
}

.accepted {
  border-top: 5px solid green;
}

.offered {
  border-top: 5px solid #5beb08;
}

.onsite {
  border-top: 5px solid purple;
}

.phonescreen {
  border-top: 5px solid #29b6f6;
}

.applied {
  border-top: 5px solid orange;
}
